body {
  margin: 0;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

#nickName-container {
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: crimson;
  position: fixed;
  /* display: none; */
}

.nk-name-mid {
  flex-direction: column;
}

#nickName {
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  color: white;
}

#nickName::placeholder {
  color: #ecf0f1;
}

#nkSubmitBtn {
  margin-top: 20px;
  font-size: 2rem;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: #f6e58d solid 3px;
  color: #f6e58d;
  border-radius: 20px;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

#nkSubmitBtn:hover {
  background-color: #f6e58d;
  color: #2f3640;
  transition: 0.5s;
}

#nickName:focus {
  outline: none;
}

.main-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.mid-container {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.msg-container {
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
  width: 100%;
  height: 88%;
  background-image: linear-gradient(
    to right bottom,
    #000815,
    #010719,
    #05061b,
    #0b041e,
    #11021f
  );
  overflow: auto;
  color: white;
  font-family: "Reem Kufi", sans-serif;
  letter-spacing: 2px;
}

.content {
  width: 90%;
  height: 90%;
  overflow: auto;
  text-shadow: 1px 1px 5px black;
}

.data-container {
  display: flex;
  height: 40px;
  justify-content: space-between;
}

#msg {
  width: 80%;
  outline: none;
  background-color: transparent;
  border: #303952 3px solid;
  border-radius: 10px;
  padding-left: 20px;
  color: #2f3542;
  font-size: 20px;
}

/* #btn {
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border: 3px solid #006266;
  border-radius: 10px;
  color: #006266;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
} */

/* #btn:hover {
  transition: 0.7s;
  background-color: #006266;
  color: white;
} */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#brand-name {
  color: #2ed573;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #2f3542;
}

@media (max-width: 500px) {
  #nickName-container {
    background-color: #ee5253;
  }

  #brand-name {
    color: #2ed573;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #2f3542;
    letter-spacing: 2px;
  }

  .mid-container {
    width: 95%;
    height: 100%;
    justify-content: space-around;
  }

  .msg-container {
    width: 100%;
    height: 70%;
    background-color: #222f3e;
    box-shadow: none;
    border-radius: 0;
    border: #353b48 2px solid;
    border-radius: 20px;
  }

  .data-container {
    padding: 20px;
  }

  #msg {
    border: 2px solid #353b48;
    width: 70%;
  }

  /* #btn {
    background-color: #10ac84;
    border: none;
    box-shadow: 1px 1px 5px black;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  } */

  #nickName {
    font-size: 30px;
  }

  #nkSubmitBtn {
    font-size: 20px;
    border-radius: 10px;
  }
}
